@*@model LibApp.Models.Book*@

@{ 
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var bookFromBag = ViewBag.Book1 as Book;
    var bookFromData = ViewData["Book2"] as Book;
}

<h2>@bookFromBag.Name</h2>
<h2>@bookFromData.Name</h2>